entrypoint = "blackbeard_bot.py"
modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "blackbeard_bot.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Supercharged Bot"

[[workflows.workflow]]
name = "Run Blackbeard Bot"
author = 37077700
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python blackbeard_bot.py"

[[workflows.workflow]]
name = "Run Supercharged Bot"
author = 37077700
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node bot.js"

[[ports]]
localPort = 5000
externalPort = 80
